# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${SPRING_DATASOURCE_USERNAME}
      POSTGRES_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      POSTGRES_DB: ${SPRING_DATASOURCE_DB}
      TZ: UTC
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgres/data